{% for social in site.data.socials %}
  {% case social[0] %}
    {% when 'email' %}
      <a href="mailto:{{ social[1] | encode_email }}" title="email"><i class="fa-solid fa-envelope"></i></a>
    {% when 'orcid_id' %}
      <a href="https://orcid.org/{{ social[1] }}" title="ORCID"><i class="ai ai-orcid"></i></a>
    {% else %}
      <a href="{{ social[1].url }}" title="{{ social[1].title }}">
        {% assign file_ext = social[1].logo | split: '.' | last %}
        {% if file_ext == 'svg' %}
          <svg>
            <image xlink:href="{% if social[1].logo contains '://' %}{{ social[1].logo }}{% else %}{{ social[1].logo | relative_url }}{% endif %}" />
          </svg>
        {% else %}
          <img
            src="{% if social[1].logo contains '://' %}{{ social[1].logo }}{% else %}{{ social[1].logo | relative_url }}{% endif %}"
            alt="{{ social[1].title }}"
          >
        {% endif %}
      </a>
  {% endcase %}
{% endfor %}
