{% for social in site.data.socials %}
  {% case social[0] %}
    {% when 'email' %}
      <a href="mailto:{{ social[1] | encode_email }}" title="email"><i class="fa-solid fa-envelope"></i></a>
    {% when 'orcid_id' %}
      <a href="https://orcid.org/{{ social[1] }}" title="ORCID"><i class="ai ai-orcid"></i></a>
    {% comment %}
    {% when 'github' %}
      <a href="{{ social[1].url }}" title="GitHub"><i class="fab fa-github"></i></a>
    {% when 'linkedin' %}
      <a href="{{ social[1].url }}" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
    {% when 'twitter' %}
      <a href="{{ social[1].url }}" title="Twitter"><i class="fab fa-twitter"></i></a>
    {% when 'facebook' %}
      <a href="{{ social[1].url }}" title="Facebook"><i class="fab fa-facebook"></i></a>
    {% when 'instagram' %}
      <a href="{{ social[1].url }}" title="Instagram"><i class="fab fa-instagram"></i></a>
    {% when 'scholar' %}
      <a href="{{ social[1].url }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
    {% when 'cv' %}
      <a href="{{ social[1].url }}" title="CV"><i class="fa-solid fa-file-alt"></i></a>
    {% when 'researchgate' %}
      <a href="{{ social[1].url }}" title="ResearchGate"><i class="ai ai-researchgate"></i></a>
    {% when 'mastodon' %}
      <a rel="me" href="{{ social[1].url }}" title="Mastodon"><i class="fab fa-mastodon"></i></a>
    {% when 'youtube' %}
      <a href="{{ social[1].url }}" title="YouTube"><i class="fab fa-youtube"></i></a>
    {% when 'rss' %}
      <a href="{{ social[1].url }}" title="RSS"><i class="fa-solid fa-rss"></i></a>
    {% endcomment %}
  {% endcase %}
{% endfor %}
